@using Web_App.Helpers;
<script src="~/Scripts/views/vCentroEducativoAdminCe.js"></script>
@{
    ViewBag.Title = "CentroEducativoAdminCe";
}

@Html.Partial("_AdministradorCE")

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Centro Educativo</h1>
    </div>

    @Html.CtrlTable(viewName: "vCentroEducativoAdminCe", id: "tblCentroEducativoAdminCe", title: "Mi centro educativo",
            columnsTitle: "Cédula Jurídica,Nombre,Correo,Teléfono,Coordenadas,Estado", ColumnsDataName: "CedulaJuridica,NombreJuridico,Correo,NumTelefono,Coordenada,Estado",
            onSelectFunction: "BindFields", colorHeader: "white")

    <div class="card border-secondary" style="margin-top: 50px;">
        <div class="card-header">
            <div class="row pull-right">

                <div class="col-md-4">
                    @Html.CtrlButton(viewName: "vCentroEducativoAdminCe", id: "btnRegister", label: "Registrar", onClickFunction: "Register", buttonType: "success")
                    @Html.CtrlButton(viewName: "vCentroEducativoAdminCe", id: "btnUpdate", label: "Modificar", onClickFunction: "Update", buttonType: "primary")
                    @Html.CtrlButton(viewName: "vCentroEducativoAdminCe", id: "btnDelete", label: "Eliminar", onClickFunction: "Delete", buttonType: "danger")
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-6">
                    <div class="bs-component">
                        <form id="frmGestion">
                            @Html.CtrlInput(id: "txtId", type: "text", label: "Cédula Jurídica", columnDataName: "CedulaJuridica")
                            @Html.CtrlInput(id: "txtNombre", type: "text", label: "Nombre", columnDataName: "NombreJuridico")
                            @Html.CtrlInput(id: "txtCorreo", type: "text", label: "Correo", columnDataName: "Correo")
                            @Html.CtrlInput(id: "txtNumTelefono", type: "text", label: "Teléfono", columnDataName: "NumTelefono")
                            @Html.CtrlInput(id: "txtCoordenada", type: "text", label: "Coordenadas", columnDataName: "Coordenada")
                            @Html.CtrlInput(id: "txtEstado", type: "text", label: "Estado", columnDataName: "Estado")
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>



</main>