@using Web_App.Helpers;
@{
    ViewBag.Title = "EmpresaTransporte";
}
@Html.Partial("TransportistaPanel")

<head>
    <link type="text/css" rel="stylesheet" />
    <script src="~/Scripts/views/vEmpresaTransporte.js"></script>
</head>

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Empresa de transporte</h1>
    </div>

    @Html.CtrlTable(viewName: "vEmpresaTransporte", id: "tblEmpresaTransporte", title: "Mi empresa",
            columnsTitle: "Cédula Jurídica,Nombre,Correo,Teléfono,Coordenadas", ColumnsDataName: "CedulaJuridica,NombreJuridico,Correo,NumTelefono,Coordenada",
            onSelectFunction: "BindFields", colorHeader: "white")

    <div class="card border-secondary" style="margin-top: 50px;">
        <div class="card-header">
            <div class="row pull-right">

                <div class="col-md-4">
                    @Html.CtrlButton(viewName: "vEmpresaTransporte", id: "btnRegister", label: "Registrar", onClickFunction: "Register", buttonType: "success")
                    @Html.CtrlButton(viewName: "vEmpresaTransporte", id: "btnUpdate", label: "Modificar", onClickFunction: "Update", buttonType: "primary")
                    @Html.CtrlButton(viewName: "vEmpresaTransporte", id: "btnDelete", label: "Eliminar", onClickFunction: "Delete", buttonType: "danger")
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-6">
                    <div class="bs-component">
                        <form id="frmGestion">
                            @Html.CtrlInput(id: "txtId", type: "text", label: "Cédula Jurídica", columnDataName: "CedulaJuridica")
                            @Html.CtrlInput(id: "txtNombre", type: "text", label: "Nombre", columnDataName: "NombreJuridico")
                            @Html.CtrlInput(id: "txtCorreo", type: "text", label: "Correo", columnDataName: "Correo")
                            @Html.CtrlInput(id: "txtNumTelefono", type: "text", label: "Teléfono", columnDataName: "NumTelefono")
                            @Html.CtrlInput(id: "txtCoordenada", type: "text", label: "Coordenadas", columnDataName: "Coordenada")
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>



</main>