@using Web_App.Helpers;
<script src="~/Scripts/views/vSolicitudesAdmin.js"></script>
@{ ViewBag.Title = "SolicitudesAdmin"; }

@Html.Partial("_Administrador")

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Solicitudes de Centros Educativos</h1>
    </div>

    @Html.CtrlTable(viewName: "vSolicitudesAdmin", id: "tblSolicitudes", title: "Lista de solicitudes",
         columnsTitle: "Id,Fecha,Cédula Jurídica,Nombre Jurídico", ColumnsDataName: "IdSolicitud,FechaCreacion,CedulaJuridica,NombreJuridico",
         onSelectFunction: "BindFields", colorHeader: "white")


    <div class="card border-secondary" style="margin-top: 50px;">
        <div class="card-header">
            <div class="row pull-right">
                <div class="col-md-4">
                    @Html.CtrlButton(viewName: "vSolicitudesAdmin", id: "btnApprove", label: "Aprobar", onClickFunction: "Approve", buttonType: "success")
                    @Html.CtrlButton(viewName: "vSolicitudesAdmin", id: "btnRechazar", label: "Rechazar", onClickFunction: "Reject", buttonType: "danger")
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-6">
                    <div class="bs-component">
                        <form id="frmGestion">
                            @Html.CtrlInput(id: "txtId", type: "number", label: "Id", columnDataName: "IdSolicitud")
                            @Html.CtrlInput(id: "txtFecha", type: "text", label: "Fecha", columnDataName: "FechaCreacion")
                            @Html.CtrlInput(id: "txtCedula", type: "text", label: "Cédula Jurídica", columnDataName: "CedulaJuridica")
                            @Html.CtrlInput(id: "txtNombre", type: "text", label: "Nombre Jurídico", columnDataName: "NombreJuridico")
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>